<div fxLayout="row" fxLayoutAlign="space-around start" class="margin-top-16">
  <div><h1>Vehicle List</h1></div>
</div>
<div *ngIf="!editing">
<table mat-table *ngIf="vehiclesList.length > 0" [dataSource]="vehiclesList" class="mat-elevation-z8">


  <ng-container matColumnDef="_ownerName">
    <th mat-header-cell *matHeaderCellDef> Owner Name </th>
    <td mat-cell *matCellDef="let element"> {{element._ownerName}} </td>
  </ng-container>

  <ng-container matColumnDef="_vehicleType">
    <th mat-header-cell *matHeaderCellDef> Vehicly Type </th>
    <td mat-cell *matCellDef="let element"> {{element._vehicleType}} </td>
  </ng-container>
  <ng-container matColumnDef="_licenseNumber">
    <th mat-header-cell *matHeaderCellDef> License Number </th>
    <td mat-cell *matCellDef="let element"> {{element._licenseNumber}} </td>
  </ng-container>
  <ng-container matColumnDef="_entryTime">
    <th mat-header-cell *matHeaderCellDef> Entry Time </th>
    <td mat-cell *matCellDef="let element"> {{element._entryTime }} </td>
  </ng-container>
  <ng-container matColumnDef="_exitTime">
    <th mat-header-cell *matHeaderCellDef> Exit Time </th>
    <td mat-cell *matCellDef="let element"> {{element._exitTime }} </td>
  </ng-container>
  <ng-container matColumnDef="_entryStatus">
    <th mat-header-cell *matHeaderCellDef> Entry Status </th>
    <td mat-cell *matCellDef="let element"> {{element._entryStatus}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element"> <button (click)="update(element._id)" mat-button>Edit</button></td>
  <!--    <mat-cell *matCellDef="let row">-->
  <!--      <button mat-button>Edit</button>-->
  <!--    </mat-cell>-->
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  <mat-paginator  *ngIf="vehiclesList.length !== 0" [length]="100"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10]"
                 aria-label="Select page"
                 (page)="paginate($event)"
  >
  </mat-paginator>

  <div  *ngIf="vehiclesList.length === 0"  class="centered">
    <h2>No vehicle info</h2>
  </div>
</div>

<div *ngIf="editing">
  <app-add-vehicle [editData]="editingData" (updated)="updateComplete($event)"></app-add-vehicle>
</div>
