<div *ngIf="!editing" class="centered">
<table mat-table [dataSource]="vehiclesList" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="_ownerName">
    <th mat-header-cell *matHeaderCellDef> Owner Name </th>
    <td mat-cell *matCellDef="let element"> {{element._ownerName}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="_vehicleType">
    <th mat-header-cell *matHeaderCellDef> Vehicly Type </th>
    <td mat-cell *matCellDef="let element"> {{element._vehicleType}} </td>
  </ng-container>
  <ng-container matColumnDef="_licenseNumber">
    <th mat-header-cell *matHeaderCellDef> License Number </th>
    <td mat-cell *matCellDef="let element"> {{element._licenseNumber}} </td>
  </ng-container>
  <ng-container matColumnDef="_entryDate">
    <th mat-header-cell *matHeaderCellDef> Entry Date </th>
    <td mat-cell *matCellDef="let element"> {{element._entryDate | date}} </td>
  </ng-container>
  <ng-container matColumnDef="_exitDate">
    <th mat-header-cell *matHeaderCellDef> Exit Date </th>
    <td mat-cell *matCellDef="let element"> {{element._exitDate | date}} </td>
  </ng-container>
  <ng-container matColumnDef="_entryStatus">
    <th mat-header-cell *matHeaderCellDef> Entry Status </th>
    <td mat-cell *matCellDef="let element"> {{element._entryStatus}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element"> <button (click)="update(element._id)" mat-button>Edit</button></td>
  <!--    <mat-cell *matCellDef="let row">-->
  <!--      <button mat-button>Edit</button>-->
  <!--    </mat-cell>-->
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</div>

<div *ngIf="editing">
  <app-add-vehicle [editData]="editingData" (updated)="updateComplete($event)"></app-add-vehicle>
</div>
