

<div fxLayout="row" fxLayoutAlign="space-around start" >
  <form (ngSubmit)="filter()" name="loginForm" [formGroup]="dashboardForm">
  <div>
    <mat-form-field appearance="outline">
      <input matInput [matDatepicker]="picker" placeholder="Entry Date" formControlName="currentDate" >
      <mat-hint>Entry Date - Format(MM/DD/YYYY)</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

    <div>
      <button mat-raised-button type="submit">Filter</button>
    </div>
  </form>
  <div class="border-2-black">
    <h3>Total Parked: 5</h3>
  </div>
  <div class="border-2-black">
    <h3>Total empty: 3</h3>
  </div>
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->


      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Vehicle Type </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef> Count </th>
        <td mat-cell *matCellDef="let element"> {{element.count}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</div>

<div fxLayout="column" fxLayoutAlign="space-around center" >
<div>
  <canvas baseChart
          [type]="'pie'"
          [datasets]="pieChartDatasets"
          [labels]="pieChartLabels"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend">
  </canvas>
</div>

<div class="margin-top-16">
  <div style="display: block;">
    <canvas baseChart width="400" height="400"
            [type]="'line'"
            [data]="lineChartData"
            [options]="lineChartOptions"
            [legend]="lineChartLegend">
    </canvas>
  </div>

</div>
</div>


