<div fxLayout="row" fxLayoutAlign="space-around start" class="margin-top-16">
  <div><h1>Dashboard</h1></div>
</div>

<div fxLayout="row" fxLayoutAlign="space-around start" class="margin-top-16">

  <form (ngSubmit)="filter()" name="loginForm" [formGroup]="dashboardForm">
  <div>
    <mat-form-field appearance="outline">
      <input matInput [matDatepicker]="picker" placeholder="Entry Date" formControlName="currentDate" >
      <mat-hint>Date - Format(MM/DD/YYYY)</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

    <div>
      <button mat-raised-button type="submit">Filter</button>
    </div>
  </form>
  <div class="border-2-black">
    <h3>Total Parked: {{totalParked}}</h3>
  </div>
  <div class="border-2-black">
    <h3>Total Empty: {{totalSpot-totalParked}}</h3>
  </div>
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Vehicle Type </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef> Count </th>
        <td mat-cell *matCellDef="let element"> {{element.count}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</div>

<div fxLayout="column" fxLayoutAlign="space-around center" >
<div>
  <canvas baseChart
          [type]="'pie'"
          [datasets]="pieChartDatasets"
          [labels]="pieChartLabels"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend">
  </canvas>
</div>

<div class="margin-top-16">
  <mat-tab-group>
    <mat-tab label="Daily">
      <div style="display: block;">
      <canvas baseChart width="400" height="400"
              [type]="'line'"
              [data]="lineChartDataDaily"
              [options]="lineChartOptions"
              [legend]="lineChartLegend">
      </canvas>
    </div>
    </mat-tab>
    <mat-tab label="Monthly">
      <div style="display: block;">
        <canvas baseChart width="400" height="400"
                [type]="'line'"
                [data]="lineChartDataMonthly"
                [options]="lineChartOptions"
                [legend]="lineChartLegend">
        </canvas>
      </div>
    </mat-tab>
    <mat-tab label="Yearly">
      <div style="display: block;">
        <canvas baseChart width="400" height="400"
                [type]="'line'"
                [data]="lineChartDataYearly"
                [options]="lineChartOptions"
                [legend]="lineChartLegend">
        </canvas>
      </div>
    </mat-tab>
  </mat-tab-group>


</div>
</div>


