
<!--<app-add-vehicle></app-add-vehicle>-->

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list>
      <!--      <div mat-subheader>Folders</div>-->
      <mat-list-item>
        <mat-icon matListItemIcon>folder</mat-icon>
        <button mat-button color="primary" routerLink="/home">Home</button>

      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>folder</mat-icon>
        <button mat-button color="primary" routerLink="/dashboard">Dashboard</button>

      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>folder</mat-icon>
        <button mat-button color="primary" routerLink="/add">Add Vehicle</button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>folder</mat-icon>
        <button mat-button color="primary" routerLink="/list">List Vehicles</button>
      </mat-list-item>

    </mat-list>
  </mat-drawer>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Parking Management System</span>
    <!--    <span class="example-spacer"></span>-->
    <!--    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">-->
    <!--      <mat-icon>favorite</mat-icon>-->
    <!--    </button>-->
    <!--    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">-->
    <!--      <mat-icon>share</mat-icon>-->
    <!--    </button>-->
  </mat-toolbar>



  <router-outlet></router-outlet>

</mat-drawer-container>



