/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.margin-top-16{
  margin-top: 16px;
}

.half-width {
  width: 50vw;
}

.full-width {
  width: 100%;
}

.centered {
  //display: flex;
  //height: 100%;
  align-items: center;
  //justify-content: center;
}
