.mp-16-16{
  //display: flex;
  padding: 16px;
  //height: 100%;
  margin: 16px;
  //justify-content: center;
  //align-items: center;
}
.vehicle-form{
  border: 2px solid black;
  background: #eeeeee;
}

.spacer div{
  margin-top: 12px;
}

