<div class="center-center vehicle-form">
<div fxLayout="column" fxLayoutAlign="space-between center" class="">
  <div>
    <form (ngSubmit)="addOrUpdate()" name="loginForm" [formGroup]="vehicleForm">
      <div>
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>License Number</mat-label>
          <input matInput placeholder="Vehicle License Number" formControlName="licenseNumber" >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Vehicle Type</mat-label>
          <mat-select  formControlName="vehicleType">
            <mat-option value="micro">Microbus</mat-option>
            <mat-option value="car">Car</mat-option>
            <mat-option value="truck">Truck</mat-option>
          </mat-select>

        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="half-width">
          <input matInput placeholder="Owner Name" formControlName="ownerName" >
          <mat-label>Owner Name</mat-label>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" class="half-width">
          <input matInput placeholder="Owner Phone" formControlName="ownerPhone" >
          <mat-label>Phone Number</mat-label>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Vehicle Status</mat-label>
          <mat-select  formControlName="entryStatus">
            <mat-option value="in">In</mat-option>
            <mat-option value="out">Out</mat-option>
          </mat-select>

        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" >
          <input matInput [matDatepicker]="picker" placeholder="Entry Date" formControlName="entryDate" >
          <mat-hint>Entry Date - Format(MM/DD/YYYY)</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>

        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline" >
          <input matInput [ngxTimepicker]="timepicker" placeholder="Entry Time" formControlName="entryTime" >
          <mat-hint>Entry Time - HH:MM</mat-hint>
          <ngx-material-timepicker #timepicker></ngx-material-timepicker>
<!--          <mat-datepicker-toggle matIconSuffix [for]="timepicker"></mat-datepicker-toggle>-->
<!--          <mat-datepicker #timepicker></mat-datepicker>-->

        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <input matInput [matDatepicker]="pickerExit" placeholder="Exit Date" formControlName="exitDate" >
          <mat-hint>Exit Date - Format(MM/DD/YYYY)</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="pickerExit"></mat-datepicker-toggle>
          <mat-datepicker #pickerExit></mat-datepicker>

        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="outline">
          <input matInput [ngxTimepicker]="exittimepicker" placeholder="Exit Time" formControlName="exitTime" >
          <mat-hint>Exit Time - HH:MM</mat-hint>
          <ngx-material-timepicker #exittimepicker></ngx-material-timepicker>
          <!--          <mat-datepicker-toggle matIconSuffix [for]="timepicker"></mat-datepicker-toggle>-->
          <!--          <mat-datepicker #timepicker></mat-datepicker>-->

        </mat-form-field>
      </div>
      <div class="margin-top-16">
        <mat-form-field appearance="outline" >
          <input matInput placeholder="Owner Name" formControlName="ownerName" >
          <mat-label>Parking Charge</mat-label>
        </mat-form-field>
      </div>
      <div *ngIf="editData">
        <button mat-raised-button type="submit">Update</button>
      </div>
      <div *ngIf="!editData">
        <button mat-raised-button type="submit">Add</button>
      </div>
    </form>
  </div>
</div>

</div>
